{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Account Inactive" %}{% endblock title %}

{% block content %}
    <div class="modal-header">
        <h5 class="modal-title">{% trans "Account Inactive" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="id-confirm-sms-form" class="login" method="POST" action="{% url 'account_inactive' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
        </form>
    </div>
    <div class="modal-footer">
       <a id="id-send-sms" class="btn btn-secondary">{% if sms_expired %}00:00{% else %}{% trans 'Отправить SMS' %}{% endif %}</a>
       <button form="id-confirm-sms-form" type="submit" class="btn btn-primary">{% trans 'Подтвердить' %}</button>
    </div>
    <script type="text/javascript">
        function startCountdown(timeout) {
            if (timeout > 0) {
                var send = $("#id-send-sms");
                var old_text = "{% trans 'Отправить SMS' %}";
                var date = new Date();
                date.setSeconds(date.getSeconds() + timeout);
                send.addClass("disabled");
                send.countdown(date, function (event) {
                    $(this).text(event.strftime('%M:%S'));
                }).on('finish.countdown', function (e) {
                    send.text(old_text);
                    send.removeClass("disabled");
                });
            }
        }
        $("#id-confirm-sms-form").submit(function () {
            var form = $(this);
            $.post(
                form.attr('action'),
                form.serialize(),
                function (data) {
                    location.href = data["location"];
                }
            ).fail(function (data) {
                $('#id-modal .modal-content').html($(JSON.parse(data.responseText)['html']));
            });
            return false;
        });
        $("#id-send-sms").on("click", function () {
            var form = $("#id-confirm-sms-form");
            $.post(
                form.attr('action'),
                {
                    action: 'send-sms',
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                    {% if redirect_field_value %}
                        '{{ redirect_field_name }}': '{{ redirect_field_value }}'
                    {% endif %}
                },
                function (data) {
                    $('#id-modal .modal-content').html(data['html']);
                }
            );
            return false;
        });
        startCountdown({{ sms_expired }});
        $(":input").inputmask();
    </script>
{% endblock %}
