{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <ul class="nav nav-pills pt-5 justify-content-center" role="tablist">
            <li class="nav-item">
                {% url 'account_profile' as link %}
                <a class="nav-link {% if request.get_full_path == link %}active{% endif %}" href="{{ link }}"
                   role="tab">{% trans 'Личные данные' %}</a>
            </li>
            <li class="nav-item">
                {% url 'account_change_password' as link %}
                <a class="nav-link {% if request.get_full_path == link %}active{% endif %}" href="{{ link }}"
                   role="tab">{% trans 'Безопасность' %}</a>
            </li>
            <li class="nav-item">
                {% url 'account_profile_meetings' as link %}
                <a class="nav-link {% if request.get_full_path == link %}active{% endif %}" href="{{ link }}"
                   role="tab">{% trans 'Встречи' %}</a>
            </li>
        </ul>

        <div class="tab-content mt-5 pb-5">
            <div class="tab-pane active" role="tabpanel">
                {% block tab_content %}
                {% endblock tab_content %}
            </div>
        </div>
    </div>
{% endblock content %}