{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign In" %}{% endblock title %}

{% block content %}
    <div class="modal-header">
        <p class="h5 pt-2 align-self-center">{% trans "Sign In" %}</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="id-login-form" class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
        </form>
        <p>{% trans "Нет аккаунта?" %}&nbsp;<a id="id-signup" class="button secondaryAction" href="{% url 'account_signup' %}{% if redirect_field_value %}?{{ redirect_field_name }}={{ redirect_field_value }}{% endif %}">{% trans "Signup" %}</a></p>
        <p>{% trans "Forgot Password?" %}&nbsp;<a id="id-reset-password" class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Восстановить" %}</a></p>
    </div>
    <div class="modal-footer">
       <button form="id-login-form" class="btn btn-primary pl-5 pr-5" type="submit">{% trans "Sign In" %}</button>
    </div>
    <script type="text/javascript">
        $("#id-login-form").submit(function () {
            var form = $(this);
            $.post(
                form.attr('action'),
                form.serialize(),
                function (data) {
                    location.href = data["location"];
                }
            ).fail(function (data) {
                $('#id-modal .modal-content').html(JSON.parse(data.responseText)['html']);
            });
            return false;
        });
        $("#id-reset-password, #id-signup").on("click", function () {
            return getModal($(this));
        });
    </script>
{% endblock content %}
