{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block content %}
    <div class="modal-header">
        <h5 class="modal-title">{% trans "Change Password" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>
    <div class="modal-footer">
       <button type="button" data-dismiss="modal" class="btn btn-primary">{% trans 'Закрыть' %}</button>
    </div>
{% endblock %}
