{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password Reset" %}{% endblock title %}

{% block content %}
    <div class="modal-header">
        <h5 class="modal-title">{% trans "Password Reset" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <small>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</small>
    
        <form id="id-reset-password-form" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
        </form>
<!--
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
-->
    </div>
    <div class="modal-footer">
       <button form="id-reset-password-form" class="btn btn-primary" type="submit">{% trans 'Reset My Password' %}</button>
    </div>
    <script type="text/javascript">
        $("#id-reset-password-form").submit(function () {
            var form = $(this);
            $.post(
                form.attr('action'),
                form.serialize(),
                function (data) {
                    $.get(data["location"]).done(function (data) {
                        $('#id-modal .modal-content').html(data['html']);
                    });
                }
            ).fail(function (data) {
                $('#id-modal .modal-content').html(JSON.parse(data.responseText)['html']);
            })
            return false;
        })
    </script>
{% endblock %}
