{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block content %}
    <div class="modal-header">
        <h5 class="modal-title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}Неверная ссылка восстановления пароля. Возможно, вы уже испльзовали эту ссылку. Пожалуйста,
                запросите новую ссылку для <a id="id-reset-password" href="{{ passwd_reset_url }}">восстановления пароля</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <form id="id-reset-password-form" method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form|crispy }}
                </form>
            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}
    </div>
    <div class="modal-footer">
    {% if token_fail %}
        <button type="button" data-dismiss="modal" class="btn btn-primary">{% trans 'Закрыть' %}</button>
    {% else %}
        <button form="id-reset-password-form" type="submit" class="btn btn-primary">{% trans 'Change password' %}</button>
    {% endif %}
    </div>
    <script type="text/javascript">
        $("#id-reset-password-form").submit(function () {
            var form = $(this);
            $.post(
                form.attr('action'),
                form.serialize(),
                function (data) {
                    $.get(data["location"]).done(function (data) {
                        $('#id-modal .modal-content').html(data['html']);
                    });
                }
            ).fail(function (data) {
                $('#id-modal .modal-content').html(JSON.parse(data.responseText)['html']);
            });
            return false;
        });
        $("#id-reset-password").on("click", function () {
            return getModal($(this));
        });
    </script>
{% endblock %}
