{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock title %}

{% block content %}
    <div class="modal-header">
        <h5 class="modal-title">{% trans "Password Reset" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
    <div class="modal-footer">
       <button type="button" data-dismiss="modal" class="btn btn-primary">{% trans 'Закрыть' %}</button>
    </div>
{% endblock %}
