{% extends "account/base_profile.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block tab_content %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p class="h1 text-white text-center"><span class="text-highlighted">{% trans "Change Password" %}</span></p>

            <form id="id-change-password-form" method="POST" action="{% url 'account_change_password' %}" class="pt-3 password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center pt-3">
                    <button form="id-change-password-form" class="btn btn-primary pl-5 pr-5" type="submit">{% trans "Change Password" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock tab_content %}
