{% extends 'account/base_profile.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load socialaccount %}
{% load account_ext %}

{% block title %}{% trans 'Профиль' %}{% endblock title %}

{% block tab_content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <div id="id-image-preview" class="big-photo"><div class="big-photo-inside"></div></div>
        {% if object.is_public and not object.is_approved %}
            <p class="text-danger text-center">{% trans "Аккаунт не подтвержден администратором" %}</p>
        {% endif %}
        <form id="id-profile" class="login" method="POST" action="{% url 'account_profile' %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center mt-5">
                <button form="id-profile" class="btn btn-primary pl-5 pr-5" type="submit">{% trans "Save" %}</button>
            </div>
        </form>
    </div>
</div>

{% get_social_accounts request.user as accounts %}
{% get_providers as socialaccount_providers %}
<div id="id-socials" class="row justify-content-center mt-5">
    {% for provider in socialaccount_providers %}
        <div class="col-6 col-md-2 text-center">
            {% if not provider.id in accounts.keys %}
            <a href="{% provider_login_url provider.id process="connect" next=request.get_full_path %}"
               data-toggle="tooltip" data-placement="bottom" title="{% trans 'Нажмите чтоб подключить ваш ' %}{{ provider.name }}">
                <img class="social grayed" src="{% static 'img/' %}{{ provider.id }}.png" />
            </a>
            {% else %}
                {% with accounts|get_item:provider.id as account %}
            <a href="{{ account.0.get_profile_url }}" target="_blank">
                <img class="social" src="{% static 'img/' %}{{ provider.id }}.png" />
            </a>
                {% endwith %}
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock tab_content %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/jquery.uploadPreview.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.uploadPreview({
                input_field: "#id_photo",   // Default: .image-upload
                preview_box: ".big-photo-inside",  // Default: .image-preview
                label_field: "#div_id_photo .form-control-label",    // Default: .image-label
                label_default: "{% trans 'Изменить' %}",   // Default: Choose File
                label_selected: "{% trans 'Изменить' %}",  // Default: Change File
                no_label: false                 // Default: false
            });

            $(".big-photo-inside").css("background-image", "url({% if user.photo %}{{ user.photo.url }}{% else %}{% static 'img/nophoto.png' %}{% endif %})");

            $('[data-toggle="tooltip"]').tooltip();

            $('#id_categories').select2({
                theme: "bootstrap"
            });
        })
    </script>
{% endblock extra_js %}