{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="modal-header">
        <h5 class="modal-title">{% trans "Sign Up" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="id-signup-form" class="signup" id="signup_form" method="post" action="{{ form_action }}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
        </form>
        <p>{% trans "Уже есть аккаунт?" %}&nbsp;<a id="id-back-to-login" href="{{ login_url }}">{% trans "Войти" %}</a></p>
    </div>
    <div class="modal-footer">
       <button form="id-signup-form" class="btn btn-primary pl-5 pr-5" type="submit">{% trans "Sign Up" %}</button>
    </div>
    <script type="text/javascript">
        $("#id-signup-form").submit(function () {
            var form = $(this);
            $.post(
                form.attr('action'),
                form.serialize(),
                function (data) {
                    url = data["location"];
                    if ("{{ redirect_field_value }}" != "") {
                        url = url + '?{{ redirect_field_name }}={{ redirect_field_value }}';
                    }
                    location.href = url;
                }
            ).fail(function (data) {
                $('#id-modal .modal-content').html(JSON.parse(data.responseText)['html']);
            });
            return false;
        });
        $("#id-back-to-login").on("click", function () {
            return getModal($(this));
        });
        $(":input").inputmask();
        $("#id_categories").select2({
            theme: "bootstrap"
        });
    </script>

{% endblock %}
