{% extends "base_ajax.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Запрос отправлен" %}{% endblock title %}

{% block content %}
    <div class="modal-header">
        <h5 class="modal-title">{% trans "Запрос отправлен" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>{% blocktrans %}Ваш запрос успешно отправлен. В ближайшее время наш менеджер свяжется с вами.{% endblocktrans %}</p>
    </div>
    <div class="modal-footer">
       <button type="button" data-dismiss="modal" class="btn btn-primary">{% trans 'Закрыть' %}</button>
    </div>
{% endblock %}
