{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index:index' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item active">{{ category.title }}</li>
        </ol>
    </div>
    <div class="container pb-5">
        <p class="h1 text-center pt-2"><span class="text-highlighted">{{ object.title }}</span></p>
        <div class="row justify-content-center pt-4">
        {% for object in category.user_set.all %}
            <div class="col-12 col-md-4 mt-4">
                <a href="{% url 'person-detail' object.id %}"><img class="big-photo grayed" src="{% if object.photo %}{{ object.photo.url }}{% else %}{% static 'img/nophoto.png' %}{% endif %}" alt=""></a>
                <p class="text-center mt-3">
                    <input type="number" class="star-rating" value="{{ object.rate|floatformat:0 }}" data-readonly />
                </p>
                <p class="h4 mt-3 text-center person-title">{{ object }}</p>
                <p class="person-info">{{ object.about|default_if_none:""|safe }}</p>
                <p class="text-center">
                    <a href="{% url 'person-detail' object.id %}" class="btn btn-primary pl-5 pr-5">{% trans 'Подробнее' %}</a>
                </p>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/bootstrap-rating-input.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input.star-rating').rating({
                iconLib: "fa fa-2x",
                activeIcon: "fa-star",
                inactiveIcon: "fa-star-o",
                clearableIcon: "fa-trash-o"
            });
        });
    </script>
{% endblock extra_js %}