{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/slick-theme.css' %}"/>
{% endblock extra_css %}

{% block content_index %}
    <div id="id-block1" class="container-fluid block1">
        <p class="mt-5 h1 text-center text-white"><span class="text-highlighted">Ближе к звездам с Meetme Hub!</span></p>
        <div class="row pt-5 geo">
            <div class="col-12 pt-3 col-md-6">
                <p class="text-white pl-4 text1">Первый в России онлайн-сервис для знакомств со знаменитостями.
                </p>
                <p class="text-white pl-4 mt-4 text2">Если Вам хочется высказать свое мнение, поближе познакомиться с
                    любимым блогером, провести время в компании известной личности, то сервис Meetme Hub поможет вам в
                    этом.</p>
                <p class="text-white pl-4 mt-4 text2 text-on-blue">Наша цель – сокращение дистанции между вами и
                    знаменитостями.</p>
                <p class="text-white pl-4 mt-4 text2">Встретить или пообщаться со знаменитостью может быть довольно трудно
                    из-за их напряженного графика и желания побыть вдалеке от публики. Благодаря нашему сервису, достаточно
                    указать интересующую личность и ввести параметры встречи – организацией займется команда Meetme Hub.</p>
                <p class="text-white pl-4 mt-4 text2 text-on-blue">Вы выбираете – мы организовываем</p>
                <p class="text-white pl-4 mt-4 text2">Воплощайте самые смелые идеи, станьте ближе к своим кумирам, совершите
                    долгожданное путешествие в мир грёз и творите добро со знаменитостями - 10% от средств, заработанных с
                    вашей встречи, будут переведены в партнерские благотворительные фонды:</p>
            </div>
            <div class="col-12 pb-5">
                <p class="mt-5 pt-5 h2 text-center text-white">Вы получите:</p>
                <div class="row mt-5 pt-3 pl-5 pr-5">
                    <div class="col-12 col-md-4 checked">
                        <span class="text-white">Впечатления от личной встречи со знаменитостью</span>
                    </div>
                    <div class="col-12 col-md-4 checked">
                        <span class="text-white">Возможность представить интересную идею в массы</span>
                    </div>
                    <div class="col-12 col-md-4 checked">
                        <span class="text-white">Способ продвижения товаров и услуг</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid block2">
        <div class="container pb-3">
            <p class="pt-5 h2 text-center text-white">Как это работает?</p>
            <div class="row pt-5 pb-5 justify-content-center">
                <div class="col-12 col-md-4 pt-5 text-center arrow-left">
                    <img class="info-icon" src="{% static 'img/img11.png' %}">
                    <p class="h3 text-white">Выберете публичную личность</p>
                </div>
                <div class="col-12 col-md-4 pt-5 text-center arrow-center">
                    <img class="info-icon" src="{% static 'img/img12.png' %}">
                    <p class="h3 text-white">Заполните заявку</p>
                </div>
                <div class="col-12 col-md-4 pt-5 text-center arrow-right">
                    <img class="info-icon" src="{% static 'img/img13.png' %}">
                    <p class="h3 text-white">Общайтесь</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid block3">
        <div class="container big-logo">
            <p class="mt-5 pt-5 h2 text-center text-white"><span
                    class="text-highlighted">В чем могут помочь знаменитости?</span></p>
            <div class="row mt-5 pt-4">
                <div class="col-2 text-center">
                    <p class="h0 text-white text-center">1</p>
                </div>
                <div class="col-8">
                    <p class="h4 text-white">Исполнить заветную мечту</p>
                    <p class="pt-3 text2 text-white">Личное знакомство, проведение интервью, совместное участие в
                        мероприятиях и т.п.<br><br>
                        Поверьте, согласованная встреча наиболее эффективна, когда собеседник расположен к вам и знает,
                        что от него ждут. В отличии от мимолетных и случайных бесед, вы сможете вести двусторонний
                        диалог на равных.
                    </p>
                </div>
            </div>
            <div class="row mt-5 justify-content-end">
                <div class="col-2 text-center">
                    <p class="h0 text-white text-center">2</p>
                </div>
                <div class="col-8">
                    <p class="h4 text-white">Рупор для коммуникации</p>
                    <p class="pt-3 text2 text-white">У вас давно созрела идея, которую нужно продвигать в массы. Отличное
                        начало – если она будет звучать из уст знаменитости.<br><br>
                        Будьте уверены, даже самая благородная и полезная идея будет восприниматься массами намного
                        лучше, если ее поддержат лидеры мнений и блогеры. Все начинается с народного доверия, ад обиться
                        его помогут авторитетные голоса и лица.
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-2 text-center">
                    <p class="h0 text-white text-center">3</p>
                </div>
                <div class="col-8">
                    <p class="h4 text-white">Продвинуть свой продукт</p>
                    <p class="pt-3 text2 text-white">Спонсорские посты в блогах, брендовый контент в социальных сетях,
                        создание контента лидерами мнений.<br><br>
                        Любимым блогерам люди склонны верить больше, чем рекламе. 92% покупателей верят рекомендациям
                        других людей, даже незнакомых. Вы сможете наладить контакт с известной личностью и провести
                        маркетинговую компанию совместно.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid block4">
        <div class="container">
            {% if request.user and request.user.is_authenticated %}
            {% else %}
                <div class="container-fluid pt-3 pb-3 text-center">
                    <a id="id-signup-public" href="{% url 'account_signup_public' %}"
                       class="btn btn-big btn-primary">{% trans "Я публичная личность" %}</a>
                </div>
            {% endif %}
            <div class="h2 offset text-white text-center"><span class="text-highlighted">{% trans "Популярные" %}</span>
            </div>
            <div class="row mt-5">
                {% for item in popular %}
                    <div class="col-12 col-md-4 mt-4">
                        <a class="person-detail" href="{% url 'person-detail' item.id %}">
                            <img class="big-photo grayed" src="
                                    {% if item.photo %}{{ item.photo.url }}{% else %}{% static 'img/nophoto.png' %}{% endif %}"
                                 alt="">
                            <p class="text-center mt-3">
                                <input type="number" class="star-rating" value="{{ item.rate|floatformat:0 }}"
                                       data-readonly/>
                            </p>
                            <p class="h4 mt-3 text-center person-title text-white">{{ item }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="h2 offset text-center text-white"><span class="text-highlighted">{% trans "Категории" %}</span>
            </div>
            <div class="row mt-5">
                {% for category in categories %}
                    <a href="{% url 'index:category-detail' pk=category.id %}"
                       class="col-12 col-md-4 text-center styled-link">
                        <img class="category-icon pt-5" src="{{ category.image.url }}">
                        <p class="h3 pt-3 pb-5 text-white">{{ category.title }} <span
                                class="badge badge-pill badge-default">{{ category.users_count }}</span></p>
                    </a>
                {% endfor %}
            </div>

            <div class="h2 offset text-center text-white"><span class="text-highlighted">{% trans "Партнеры" %}</span>
            </div>
            <div class="funds pt-5 pb-5">
                {% for fund in funds %}
                    <a class="d-block text-center" href="{{ fund.link }}"><img src="{{ fund.image.url }}"></a>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock content_index %}

{% block extra_js %}
    <script src="{% static 'js/bootstrap-rating-input.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.banners').slick({
                dots: true,
                infinite: true,
            });

            $('.funds').slick({
                dots: false,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                centerMode: true,
                variableWidth: true,
                autoplay: true,
                autoplaySpeed: 2000,
            });

            if ("{{ ajax_after_done }}" != "") {
                $.get(
                    "{{ ajax_after_done }}",
                    function (data) {
                        $("#id-modal .modal-content").html(data["html"]);
                        if ($("#id-modal").is(":visible") == false) {
                            $("#id-modal").modal('show');
                        }
                    }
                );
            }

            $('input.star-rating').rating({
                iconLib: "fa fa-2x",
                activeIcon: "fa-star",
                inactiveIcon: "fa-star-o",
                clearableIcon: "fa-trash-o"
            });
        });
    </script>
{% endblock extra_js %}
