{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load search %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index:index' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item active">{{ q }}</li>
        </ol>
    </div>
    <div class="container pb-5">
        <div class="row justify-content-center ">
        {% if object_list %}
        {% for object in object_list %}
            <div class="col-12 col-md-4 mt-4">
                <img class="big-photo grayed" src="{% if object.photo %}{{ object.photo.url }}{% else %}{% static 'img/nophoto.png' %}{% endif %}" alt="">
                <p class="text-center mt-3">
                    <input type="number" class="star-rating" value="{{ object.rate|floatformat:0 }}" data-readonly />
                </p>
                <p class="h4 mt-3 text-center person-title">{{ object|highlight:q }}</p>
                <p class="person-info">{{ object.about|highlight:q|safe }}</p>
                <p class="text-center">
                    <a href="{% url 'person-detail' object.id %}" class="btn btn-primary pl-5 pr-5">{% trans 'Подробнее' %}</a>
                </p>
            </div>
        {% endfor %}
        {% else %}
            <p class="h3 text-center">{% trans 'По вашему запросу ничего не найдено' %}</p>
        {% endif %}
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/bootstrap-rating-input.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input.star-rating').rating({
                iconLib: "fa fa-2x",
                activeIcon: "fa-star",
                inactiveIcon: "fa-star-o",
                clearableIcon: "fa-trash-o"
            });
        });
    </script>
{% endblock extra_js %}