#id-block1 {
  .geo {
    background-image: url(/static/img/geo.png);
    background-repeat: no-repeat;
    background-position-x: right;
  }

  .text-on-blue {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #0055e7;
    border-radius: 15px;
  }

}