@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/static/fonts/HelveticaNeueCyr-UltraLight_0.otf");
    font-weight: 100;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/static/fonts/HelveticaNeueCyr-Thin.otf");
    font-weight: 200;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/static/fonts/HelveticaNeueCyr-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/static/fonts/HelveticaNeueCyr-Roman.otf");
    font-weight: 400;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/static/fonts/HelveticaNeueCyr-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/static/fonts/HelveticaNeueCyr-Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("/static/fonts/HelveticaNeueCyr-Black.otf");
    font-weight: 900;
}

* {
    font-family: "HelveticaNeueCyr", Helvetica, Arial, sans-serif;
    text-rendering: geometricPrecision;
    color: white;
}
