#id-nav {
  .logo {
    width: 231px;
    height: auto;
  }

  .nav-pills {
    .nav-link {
      border: 1px solid #0275d8;
      border-radius: 4rem;
      padding: 0.5rem 2rem;
      margin: 0 .4rem;
    }
  }
  .nav-item a {
    line-height: 3.2rem;
  }

  .nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    border-radius: 4rem;
    padding: 0.5rem 2rem;
    margin: 0 .4rem;
  }

  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }
}

@include media-breakpoint-down(sm) {
  #id-nav {
    .logo {
      width: 181px;
      height: auto;
    }
    .container {
      padding: 0;
    }
  }
}

@include media-breakpoint-down(md) {
  #id-nav {
    .navbar-collapse {
      position: absolute;
      background: rgba(0, 0, 0, 0.2);
      top: 80px;
    }
  }
}