@import './assets/bootstrap-4.0.0-beta/scss/functions';
@import 'variables';
//@import 'sprite';
@import './assets/bootstrap-4.0.0-beta/scss/bootstrap';

@import 'fonts';

body {
  background: url(/static/img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@import 'nav';
@import 'block1';
