{% extends "base_ajax.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Подтвердить" %}{% endblock title %}

{% block content %}
    <div class="modal-header">
        <h5 class="modal-title">{% trans "Подтвердить" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Подтвердить данные пользователя?
        <form action="{% url 'person-approve' pk=object.id %}" id="id-approve-form" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="hidden" name="pk" value="{{ object.id }}">
        </form>
    </div>
    <div class="modal-footer">
       <button form="id-approve-form" class="btn btn-primary" type="submit">{% trans "Подтвердить" %}</button>
    </div>
    <script type="text/javascript">
        $("#id-approve-form").submit(function () {
            var form = $(this);
            $.post(
                form.attr('action'),
                form.serialize(),
                function (data) {
                    location.href = data["location"];
                }
            );
            return false;
        });
        $("#id-reset-password, #id-signup").on("click", function () {
            return getModal($(this));
        });
    </script>
{% endblock content %}
