{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load socialaccount %}
{% load account_ext %}


{% block title %}{{ object }}{% endblock title %}

{% block content %}
    {% if request.user and request.user.is_superuser and not object.is_approved %}
    <div class="container-fluid bg-danger">
        <div class="container bg-danger">
            <div class="text-center text-white pt-3 pb-3">
                <div class="row">
                    <div class="col-10 text-center">
                        <span>{% trans "Данные публичной личности не подтверждены" %}</span>
                    </div>
                    <div class="col-2 text-right">
                        <a id="id-approve" href="{% url 'person-approve' pk=object.id %}" class="btn btn-outline-secondary">Подтвердить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
        <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" onclick="history.go(-1)">{% trans "Назад" %}</a></li>
            <li class="breadcrumb-item active">{{ object }}</li>
        </ol>
    </div>
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 col-md-4">
                <img class="big-photo" src="{% if object.photo %}{{ object.photo.url }}{% else %}{% static 'img/nophoto.png' %}{% endif %}">
                <p class="text-center mt-3">
                    <input type="number" class="star-rating" value="{{ object.rate|floatformat:0 }}" data-readonly />
                </p>
                {% get_social_accounts object as accounts %}
                {% get_providers as socialaccount_providers %}
                <p class="text-center mt-5">
                    {% for provider in socialaccount_providers %}
                        {% if not provider.id in accounts.keys %}
                        {% else %}
                            {% with accounts|get_item:provider.id as account %}
                                <a class="pl-1 pr-1" href="{{ account.0.get_profile_url }}" target="_blank">
                                    <img class="social" src="{% static 'img/' %}{{ provider.id }}.png"/>
                                </a>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="col-12 col-md-8">
                <p class="h1 text-left mt-4"><span class="text-highlighted">{{ object }}</span></p>
                <p class="mt-4">{{ object.about|safe }}</p>
                <p class="mt-4">
                    Категории:
                    {% for category in object.categories.all %}
                        <a href="{% url 'index:category-detail' pk=category.id %}">{{ category }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </p>
                {% if form %}
                <p class="text-left pt-5">
                    <button class="btn btn-primary pl-5 pr-5" type="button" data-toggle="collapse" data-target="#id-collapse-form"
                            aria-expanded="false" aria-controls="id-collapse-form">
                        {% trans 'Мне интересно' %}
                    </button>
                </p>
                {% endif %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                {% if form %}
                <div class="collapse2" id="id-collapse-form">
                    <div class="row justify-content-center mt-3">
                        <div class="col-8">
                            {% include "meetings/meeting_form.html" %}
                        </div>
                    </div>
                    <div class="text-center mt-3 pb-3">
                        <button form="id-anketa-form" type="submit" class="btn btn-primary pl-5 pr-5">{% trans 'Отправить заявку' %}</button>
                    </div>
                </div>
                {% elif meeting %}
                    <p class="text-center">
                        <a href="{% url 'meetings:detail' pk=meeting.id %}">{% trans "Ваша заявка N" %}{{ meeting.id }} - {{ meeting.get_state_display }}</a>
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center mt-3 pb-5">
            <div class="col-12 col-md-8">
                {% for comment in comments %}
                    <div class="media pt-4">
                        <img class="photo d-flex align-self-start mr-3" src="{% if comment.cfrom.photo %}{{ comment.cfrom.photo.url }}{% else %}{% static 'img/nophoto.png' %}{% endif %}" alt="Generic placeholder image">
                        <div class="media-body">
                            <p>{{ comment.cfrom }} <small class="mt-0">{{ comment.created }}</small> <input type="number" class="star-rating small-rating" value="{{ comment.rate|floatformat:0 }}" data-readonly /></p>
                            <blockquote class="blockquote">
                                <p class="mb-0">{{ comment.text }}</p>
                            </blockquote>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker-standalone.css' %}" />
{% endblock extra_css %}

{% block extra_js %}
    <script src="{% static 'js/bootstrap-rating-input.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input.star-rating').rating({
                iconLib: "fa fa-2x",
                activeIcon: "fa-star",
                inactiveIcon: "fa-star-o",
                clearableIcon: "fa-trash-o"
            });

            $("#id-anketa-form").submit(function () {
                var form = $(this);
                $.post(
                    form.attr('action'),
                    form.serialize(),
                    function (data) {
                        if (data["html"]) {
                            $("#id-anketa-form").html(data["html"]);
                        } else {
                            location.reload();
                        }
                    }
                );
                return false;
            });

            $("#id-approve").on("click", function () {
                return getModal($(this));
            });

            $("#id_mdate").datetimepicker({
                locale: 'ru',
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-desktop',
                    clear: 'fa fa-trash',
                    close: 'fa fa-remove'
                }
            });
        });
    </script>
{% endblock extra_js %}