{% extends "account/base_profile.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Встречи" %}{% endblock title %}

{% block tab_content %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <p class="h1 text-center mb-5"><span class="text-highlighted">{% trans "Встречи" %}</span></p>
            <table data-toggle="table">
                <thead>
                <tr>
                    <th>{% trans "С кем" %}</th>
                    <th>{% trans "Дата встречи" %}</th>
                    <th>{% trans "Статус" %}</th>
                    <th>{% trans "Действие" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td><a href="{% url 'person-detail' pk=object.mto.id %}">{{ object.mto }}</a></td>
                        <td>{{ object.mdate }}</td>
                        <td>{{ object.get_state_display }}<br/><small>{{ object.changed }}</small></td>
                        <td><a href="{% url 'meetings:detail' pk=object.id %}">Подробнее</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock tab_content %}

{% block extra_css %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
{% endblock extra_css %}

{% block extra_js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-ru-RU.min.js"></script>
{% endblock extra_js %}