{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" onclick="history.go(-1)">{% trans "Назад" %}</a></li>
            <li class="breadcrumb-item active">{% trans 'Встреча N' %}{{ object.id }}</li>
        </ol>
    </div>
    <div class="container pb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <p class="h4">Встреча с <a href="{% url 'person-detail' pk=object.mto.pk %}">{{ object.mto }}</a></p>
                <small>Статус: <strong>{{ object.get_state_display }}</strong> изменен: {{ object.changed }}</small>
                <div class="row mt-5">
                    <div class="col-12 col-md-4">О себе:</div><div class="col-12 col-md-8">{{ object.about }}</div>
                    <div class="col-12 col-md-4">Знаете ли вы этого человека:</div><div class="col-12 col-md-8">{{ object.is_familiar }}</div>
                    <div class="col-12 col-md-4">Цель встречи:</div><div class="col-12 col-md-8">{{ object.goal|default_if_none:"" }}</div>
                    <div class="col-12 col-md-4">Другое:</div><div class="col-12 col-md-8">{{ object.goal_str }}</div>
                    <div class="col-12 col-md-4">Дата и время:</div><div class="col-12 col-md-8">{{ object.mdate }}</div>
                    <div class="col-12 col-md-4">Готов предложить деньги:</div><div class="col-12 col-md-8">{{ object.money|default_if_none:"" }}</div>
                    <div class="col-12 col-md-4">Другие ценности:</div><div class="col-12 col-md-8">{{ object.other|default_if_none:"" }}</div>
                </div>
            </div>
        </div>
        {% if form %}
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-6">
                    {% include 'comments/comment_form.html' %}
                    <div class="text-center">
                       <button form="id-add-comment-form" class="btn btn-primary mt-3 pl-5 pr-5" type="submit"
                           data-toggle="tooltip" data-placement="top" title="{% trans 'После завершения встречи Вы не сможете поменять отзыв или оценку' %}"
                       >{% trans "Завершить встречу" %}</button>
                    </div>
                </div>
            </div>
        {% elif comment %}
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-6">
                    <input type="number" class="star-rating" value="{{ comment.rate|floatformat:0 }}" data-readonly />
                    <p class="mt-4">{{ comment.text }}</p>
                </div>
            </div>
        {% else %}
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 mt-2">
                    <p class="text-center h4 mt-5">{% trans "После проведения встречи, вы сможете оставить тут свой комментарий" %}</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/bootstrap-rating-input.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input.star-rating').rating({
                iconLib: "fa fa-2x",
                activeIcon: "fa-star",
                inactiveIcon: "fa-star-o",
                clearableIcon: "fa-trash-o"
            });

            $('[data-toggle="tooltip"]').tooltip();

            $("#id-add-comment-form").submit(function () {
                var form = $(this);
                $.post(
                    form.attr('action'),
                    form.serialize(),
                    function (data) {
                        if (data["html"]) {
                            $("#id-add-comment-form").html(data["html"]);
                        } else {
                            location.reload();
                        }
                    }
                );
                return false;
            });
        });
    </script>
{% endblock extra_js %}

