{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="container block404">
        <div class="row">
            <div class="col-6">
                <img src="{% static 'img/404.png' %}">
            </div>
            <div class="col-6">
                <p class="h0">404</p>
                <p class="h1 text-left"><span class="text-highlighted upper">{% trans 'страница не найдена' %}</span></p>
                <p class="pt-4"><a class="link" href="/">{% trans 'Вернуться на главную' %}</a></p>
            </div>
        </div>
    </div>
{% endblock content %}
