{% load i18n %}
{% load staticfiles %}

<div id="id-nav" class="container-fluid">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-inverse pt-4">
            <a class="navbar-brand" href="{% url 'index:index' %}"><img class="logo" src="{% static 'img/logo.png' %}"></a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#id-navbar" aria-controls="id-navbar" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="id-navbar">
                <ul class="navbar-nav mr-auto">
                    {% if categories %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="id-category-menu" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                {% trans 'Знаменитости' %}
                            </a>
                            <div class="dropdown-menu wide" aria-labelledby="id-category-menu">
                                <div class="row">
                                    {% for category in categories %}
                                        <div class="col-12 col-md-6 pt-3 pb-3">
                                            <a href="{% url 'index:category-detail' pk=category.id %}"
                                               class="col-12 col-md-4 text-center styled-link">
                                                <img class="category-icon-small pr-2" src="{{ category.image.url }}">
                                                <span class="text-white">{{ category.title }} </span>
                                                <span class="badge badge-pill badge-default float-right pt-1 mt-1 mr-2">{{ category.users_count }}</span>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="id-user-menu" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img class="photo" src="
                                        {% if request.user.photo %}{{ request.user.photo.url }}{% else %}{% static 'img/nophoto.png' %}{% endif %}"/>
                                {{ request.user }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="id-user-menu">
                                <a class="text-white dropdown-item"
                                   href="{% url 'account_profile' %}">{% trans 'Профиль' %}</a>
                                <a class="text-white dropdown-item"
                                   href="{% url 'account_logout' %}">{% trans "Выход" %}</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a id="id-login" class="nav-link" href="{% url 'account_login' %}">{% trans "Вход" %}</a>
                        </li>
                        <li class="nav-item">
                            <a id="id-signup" class="nav-link"
                               href="{% url 'account_signup' %}">{% trans "Регистрация" %}</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav my-2 my-md-0 d-flex flex-md-column-reverse flex-lg-row">
                    <li class="nav-item align-self-center mr-4">
                        <form id="id-form-search" action="{% url 'index:person-search' %}"
                              class="form-inline mt-2 mt-md-0">
                            <div class="input-group">
                                <input type="text" class="form-control" name="q" placeholder="{% trans 'Найти...' %}">
                                <span class="input-group-btn">
                                        <button class="btn btn-secondary" type="submit"><i
                                                class="fa fa-lg fa-search"></i></button>
                                    </span>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
