.icon {
	display: inline-block;
	width: 1.4em;
	height: 1em;
    vertical-align: top;
	fill: currentColor;
}

{{#shapes}}
.{{base}} {
	font-size:({{height.inner}}/1000)*1.3em;
	//width:({{width.inner}}/{{height.inner}})*1em;
}
{{/shapes}}
