{% extends 'base.html' %}
{% load i18n %}

{% block description %}
    {{ flatpage.ckflatpage.description|default_if_none:"" }}
{% endblock description %}

{% block keywords %}
    {{ flatpage.ckflatpage.keywords|default_if_none:"" }}
{% endblock keywords %}

{% block title %}
    {{ flatpage.title }}
{% endblock title %}

{% block content %}
    <div class="container flatpage pb-5">
        <ol class="breadcrumb pt-5 pb-5">
            <li class="breadcrumb-item"><a href="{% url 'index:index' %}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item active">{{ flatpage.title }}</li>
        </ol>
        {{ flatpage.content|safe }}
    </div>
{% endblock content %}